.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: red;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  /* Add the css property transition here! */
  transition: 0.7s ease-in-out;

}
/* active state */
.hoverMe:hover {
  /* Add your hover state css here. */
  font-size: larger;
  border: solid 12px blueviolet;
}

.box {
  background-color: darkblue;
  width: 400px;
  height: 400px;
  transition: 0.4s;
  margin: 10px 10px;
}

.shrinkMe:hover {
  transform: scale(0.5,0.5);
}

.growMe:hover {
  transform: scale(1.5,1.1);
}

.shadowMe:hover {
  filter: opacity(30%);
  /*filter: drop-shadow(3px 3px 4px black);*/
  border: solid 1px red;
  border-radius: 10px 10px;
}